.wrapper {
    width: 100%;
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;

    >.icon {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        >img,
        svg {
            width: 100%;
            height: 100%;
        }
    }

    >.title {
        height: var(--welcome-title-height);
        width: 100%;
        font-size: var(--welcome-title-font-size);
        font-weight: var(--welcome-title-font-weight);
        letter-spacing: 0.2px;
        line-height: 32px;
        color: var(--welcome-title-color);
        text-align: center;
        vertical-align: top;

    }

    >.subtitle {
        height: var(--welcome-subtitle-height);
        width: 100%;
        margin-top: var(--welcome-subtitle-margin-top);
        font-size: var(--welcome-subtitle-font-size);
        font-weight: var(--welcome-subtitle-font-weight);
        letter-spacing: 0.2px;
        line-height: 24px;
        color: var(--welcome-subtitle-color);
        text-align: center;
        vertical-align: top;
    }
}