.picker {
    &_wrapper {
        touch-action: none;
        height: 33.3vh;
        overflow: hidden;
        position: relative;


    }



    &_list {
        text-align: center;
        flex-grow: 1;

        >li {
            height: 36px;
            line-height: 36px;
            text-decoration: none;
            list-style-type: none;
        }
    }

    &_divider {
        display: flex;
        border-top: 2px solid #eeeeee;
        border-bottom: 2px solid #eeeeee;
        position: absolute;
        top: calc(50% - 18px);
        width: 100%;
        height: 36px;

    }
}