.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;

    >main {
        height: calc(100vh - var(--welcome-footer-height));
        position: relative;
    }

    >footer {
        width: 100vw;
        height: var(--welcome-footer-height);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}


.slide_fade_enter_active,
.slide_fade_leave_active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-out;
}

.slide_fade_enter_from {
    transform: translateX(100vw);
}

.slide_fade_leave_to {
    transform: translateX(-100vw);
}