.title_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .subtitle {
        margin-top: 12px;
        font-size: 14px;
        color: var(--subtitle-color);
    }

    .title {
        margin-bottom: 8px;
        font-size: 16px;
        color: #15141f;
        font-weight: 600;
    }

    span+span {
        margin-top: 8px;
    }
}


.balance {
    padding: 16px;
    background: #fff;

    >&_content {
        border-radius: 8px;
        background: var(--splash-bg);
        display: flex;
        flex-direction: column;

        >&_header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px 0;

            >&_hint {
                color: #91a4ec;
                font-size: 12px;
            }

            >&_number {
                margin-top: 16px;
                color: white;
                font-size: 24px;
            }
        }
    }



    >&_content_main {
        margin: 0px 16px 16px 16px;
        background: white;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;



        >&_income,
        &_outcome {
            margin: 16px 0;
            padding: 0 16px;
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        >&_income {
            border-right: 1px solid #E8EBEE;
            padding: 0 16px;

            &_icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 28px;
                height: 28px;
                background: var(--income-bg);
                border-radius: 4px;
                transform: rotate(180deg);

                >svg {
                    fill: var(--income-color);
                }
            }

            &_text {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                >&_hint {
                    font-size: 12px;
                    color: var(--subtitle-color);
                }

                >&_price {
                    margin-top: 8px;
                    font-size: 14px;
                }
            }
        }

        >&_outcome {
            padding: 0 16px;

            &_icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 28px;
                height: 28px;
                background: var(--outcome-bg);
                border-radius: 4px;

                >svg {
                    fill: var(--outcome-color);
                }
            }

            &_text {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                >&_hint {
                    font-size: 12px;
                    color: var(--subtitle-color);
                }

                >&_price {
                    margin-top: 8px;
                    font-size: 14px;
                }
            }
        }
    }
}

.transactions {
    flex-grow: 1;
    min-width: 100%;
    margin: 24px 0;

    >&_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 8px 16px;
        padding-bottom: 16px;

        >&_hint {
            font-size: 16px;
            color: #15141f;
        }

        >&_action {
            color: var(--splash-bg);
            font-size: 14px;
        }
    }

    &_content {
        flex-grow: 1;
        margin: 0 16px;
        padding: 8px 16px;
        background: white;
        border-radius: 8px;

        >&_recent_header {
            padding: 16px 10px;
            font-size: 12px;
            color: var(--subtitle-color);
        }
    }
}