.wrapper {
    height: var(--height);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    background: var(--splash-bg);

    >img {
        transform-origin: center;
        animation: a 1s ease-in-out;
    }

    .text {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 5%;
        left: 0;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.2px;
        color: rgba(173, 186, 243, 1);
    }
}


@keyframes a {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(2);
    }
}