:root {
    --welcome-footer-height: 196px;
    --welcome-text-color: #4e938d;
    --welcome-icon-length: 224px;
    --welcome-icon-layout-bg: #eef8f7;
    --blockbutton-bg: #589c97;
    --blockbutton-height: 48px;
    --indicator-bg: #999;
    --indicator-length: 12px;
    --height: calc(var(--vh) * 100);
}